@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
img {
    width: 100vw;
}
a {
    display: block;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    background-color: darkred;
    padding: 20px;
    color: white;
}
a:hover {
    background-color: red;
}